<div class='unread__header jumbotron m-0 px-1 bg-dark text-light'>
  <div class='container'>
    <h1 class='unread__header__title'>unRead</h1>
    <p class='unread__header__subtitle d-none d-lg-block'>Another Hacker News reader.</p>

    <div class='unread__filters'>
      <a class='unread__nav-link mr-1 mx-lg-1 text-light'
        routerLink='/top'
        routerLinkActive='unread__nav-link--active'>top</a>
      <a class='unread__nav-link mx-1 text-light'
        routerLink='/new'
        routerLinkActive='unread__nav-link--active'>new</a>
      <a class='unread__nav-link mx-1 text-light'
        routerLink='/ask'
        routerLinkActive='unread__nav-link--active'>ask</a>
      <a class='unread__nav-link mx-1 text-light'
        routerLink='/show'
        routerLinkActive='unread__nav-link--active'>show</a>
      <a class='unread__nav-link mx-1 text-light'
        routerLink='/jobs'
        routerLinkActive='unread__nav-link--active'>jobs</a>
    </div>
  </div>
</div>