<div class='unread__header jumbotron m-0 px-1 bg-dark text-light'>
  <div class='container'>
    <h1 class='unread__header__title'>unRead</h1>
    <p class='unread__header__subtitle'>Another Hacker News reader.</p>

    <div class='unread__filters'>
      <a class='unread__nav-link unread__nav-link--active mr-1 mx-lg-1 text-light' href='/'>top</a>
      <a class='unread__nav-link mx-1 text-light' href='/'>new</a>
      <a class='unread__nav-link mx-1 text-light' href='/'>ask</a>
      <a class='unread__nav-link mx-1 text-light' href='/'>show</a>
      <a class='unread__nav-link mx-1 text-light' href='/'>jobs</a>
    </div>
  </div>
</div>