<div class='unread text-lg-center'>
  <div class='unread__header jumbotron m-0 px-1 bg-dark text-light'>
    <div class='container'>
      <h1 class='unread__header__title'>unRead</h1>
      <p class='unread__header__subtitle'>Another Hacker News reader.</p>

      <div class='unread__filters'>
        <a class='unread__nav-link unread__nav-link--active mr-1 mx-lg-1 text-light' href='/'>top</a>
        <a class='unread__nav-link mx-1 text-light' href='/'>new</a>
        <a class='unread__nav-link mx-1 text-light' href='/'>ask</a>
        <a class='unread__nav-link mx-1 text-light' href='/'>show</a>
        <a class='unread__nav-link mx-1 text-light' href='/'>jobs</a>
      </div>
    </div>
  </div>

  <div class='unread__post-list bg-light p-lg-5'>
    <div class='unread__post px-1 py-3 bg-secondary text-light'>
      <div class='container'>
        <a class='unread__post-title' href='/'>Post title goes here.</a>

        <div class='unread__post-details'>
            <a class='unread__post-link mr-1 mx-lg-1' href='/'>Points</a>
            <a class='unread__post-link mx-1' href='/'>Comments</a>
            by <a class='unread__post-link mr-1' href='/'>user</a>
        </div>
      </div>
    </div>

    <div class='unread__post px-1 py-3 bg-light'>
      <div class='container'>
        <a class='unread__post-title' href='/'>Post title goes here.</a>

        <div class='unread__post-details'>
            <a class='unread__post-link mr-1 mx-lg-1' href='/'>Points</a>
            <a class='unread__post-link mx-1' href='/'>Comments</a>
            by <a class='unread__post-link mr-1' href='/'>user</a>
        </div>
      </div>
    </div>
  </div>

  <div class='unread__footer bg-dark text-center text-light py-5 px-1'>
    <div class='unread__search container'>
      <input class='unread__search-box p-2' type='text' />
      <a class='unread__search-link p-2' href='/'>Search</a>
    </div>
  </div>
</div>