// variables and mixins
$dark: #343a40;
$light: #f8f9fa;

// global styles
* {
    border-radius: 0 !important;
}

a {
    color: $dark;
    text-decoration: underline !important;

    &:hover {
        color: $dark;
        text-decoration: none !important;
    }
}

body {
    background-color: $dark;
}

.bg-secondary,
.bg-dark {
    a {
        color: $light;

        &:hover {
            color: $light;
        }
    }
}

.unread {
    &__nav-link {
        &--active {
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    &__post-details {
        font-size: 0.8rem;
    }

    &__search-box {
        border: none;
    }
}

.loader,
.loader:before,
.loader:after {
    background: $dark;
    animation: loading 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: $dark;
    margin: 0 auto;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@keyframes loading {
    0% { transform: scaleY(0.5); }
    50% { transform: scaleY(1.2); }
    100% { transform: scaleY(0.5); }
}

// imports
@import 'css/bootstrap.min.css';